@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightgray;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.custom-sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

.custom-header {
  background: lightblue;
}
.custom-header h1 {
  text-align: left;
}

.CodeMirror {
  height: 400px;
}

.toggle {
  padding: 0 15px 0 0;
  cursor: pointer;
}

.delete-backend {
  padding: 0 0 0 15px;
  cursor: pointer;
}

.header-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main-container {
  background-color: #51B4F4;
  background-image: linear-gradient(#51B4F4, white);
  padding: 30px 100px;
  height: 100vh;
}

.bkgrd {
  background-color: white;
  background-image: linear-gradient( white, #51B4F4);
  height: 100vh;
}

.nav-container {
  background-color: white;
}

.box {
  padding: 2rem;
}

.schema-box {
  padding: 2.2rem;
}

.cm-s-material.CodeMirror {
  border-radius: 6px;
}

.graphiql-container {
  border: 2px solid lightgray;
  height: 95vh;
  box-shadow: 1px 2px 3px black;
}

.graphiql-container .topBar {
  height: 50px;
}

.topBar .title {
  display: none;
}

.graphiql-container .doc-explorer-title-bar {
  height: 50px;
}

.graphiql-container .execute-button-wrap {
  margin-left: 0;
}

.graphiql-container .doc-explorer-title-bar, .graphiql-container .history-title-bar {
  height: 50px;
}

.vertical-center {
  margin-top: 150px;
}

.extra-level-style {
  padding: 10px 20px;
}

#centered-modal {
  margin-top: 150px;
}

.health-tag {

}

.clicky {
  cursor: pointer;
}

.sidebar-nav {
  text-align: left;
  margin-left: 27px;
  border-right: 2px solid lightgray;
  height: 100vh;
  padding-top: 30px;
}

.dropdown-icon {
  color: black;
}

#launch-btn {
  background-color: #74D6CC;
  color: white;
}

#satellite-header {
  width: 195px;
  vertical-align: inherit;
  padding-top: 10px;
}